h1 {
  display: block;
  margin: 10px auto;

  text-align: center;
}

.manager-box {
  width: 500px;
  margin: 0 auto;

  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: gray;

  border: 2px solid brown;
  border-radius: 20px;
}

/* Header -------------------------------------------------------*/
.manager-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  
  color: white;
  font-size: 14px;
  font-style: italic;
  background-color: blue;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;

  cursor: move;
}

.manager-header_title {
  margin: 0;

  letter-spacing: 1px;
}

.dots {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50px;
}

.dot {
  box-sizing: border-box;
  width: 10px;
  height: 10px;

  border: 1px solid gray;
  border-radius: 50%;

  background-image: radial-gradient(red, gray);
}

.dot-2 {
  background-image: radial-gradient(yellow, gray);
}

.dot-3 {
  background-image: radial-gradient(green, gray);
}

.manger-main {
  padding: 10px;
}

.manger-main_title {
  margin-bottom: 10px;
}

.manager-main_messages {
  min-height: 100px;
  max-height: 300px;

  overflow-y: scroll;
}

.manager-task {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  align-items: center;

  font-size: 14px;
  border: 1px solid gray;
}

.manager-task:not(:last-of-type) {
  border-bottom: none;
}

.task-email {
  width: 40%;
}

.task-subject {
  width: 30%;
}

.task-date {
  width: 30%;

  text-align: right;
}

/* messages box ------------------------------------------------*/
